# fly.toml app configuration file generated for signal-mcp-docker on 2026-01-15T16:33:52Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'signal-mcp-docker'
primary_region = 'iad'

[build]

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
